.top-container{
  background-color: #94d2e6;
  position: relative;
  padding-top: 100px;
}

body{
  margin: 0px;
  text-align: center;
}

p{
  font-family: 'Dosis', sans-serif;
  font-size: 20px;
  color: #260c1a;
}

#special{
  font-family: 'Black And White Picture', sans-serif;
  font-size: 1.25rem;
  color: #FFFFFF;
  font-weight: normal;
}

h1{
  margin-top:0px;
  font-family: 'Sacramento', cursive;
  font-size: 4.375rem;
  color: #FFFFFF;
}

h2{
  font-family: 'Merriweather', sans-serif;
  font-size: 2.5rem;
  color: #264e70;
}

#planet{
  margin-bottom: 0px;
  width:27%;
  margin-top: 20px;
}

.top-cloud{
  position: absolute;
  right: 350px;
  top:50px;
  width: 200px;
}

.bottom-cloud{
  position: absolute;
  left:380px;
  top:220px;
  width:200px;
}

.middle-container{
  background-color: #f3f6c8;
  padding-bottom: 50px;
}

.bottom-container{
  background-color: #ea9c1b;
  padding-top:50px;
  padding-bottom: 50px;
}

hr{
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  width: 10%;
  border-width: 10px;
}

.skill-row{
  width: 50%;
  margin:70px auto;
  margin-top:50px;
  text-align: left;
  line-height: 2;
}

.book-img{
  width: 30%;
  float:left;
  margin-right: 30px;
  position: relative;
  top:30px;
}

.code-img{
  width: 30%;
  float:right;
  margin-left: 30px;
  position: relative;
  top:30px;
}

.profile{
  width:50%;
  margin:0 auto;
  line-height: 2;
}
